<html>
	<head>
		<title>TimeClock</title>
		<link rel="stylesheet" type="text/css" href="/static/css/login.css" />
		<script src="/static/js/html5-qrcode.min.js" type="text/javascript"></script>
		<script src="/static/js/jquery-3.7.1.min.js"></script>
		<script src="/static/js/animatedModal.min.js"></script>
		<script src="/static/js/jsQR.js"></script>
		<link rel="stylesheet" href="/static/css/animate.min.css" />
	</head>
	<body>
		<div style="display: none">
			<a id="boton-modalDenegado" href="#modalDenegado"></a>
			<a id="boton-modalPermitido" href="#modalPermitido"></a>
		</div>
		<div id="modalDenegado">
			<div class="close-modalDenegado"></div>
			<div class="modal-content">
				<div class="modaler">
					<img src="/static/img/icons/cross.png" />
					ACCESO DENEGADO
				</div>
			</div>
		</div>
		<div id="modalPermitido">
			<div class="close-modalPermitido"></div>
			<div class="modal-content">
				<div class="modaler">
					<img src="/static/img/icons/check.png" />
					<p id="mensajepermitido"></p>
				</div>
			</div>
		</div>

		<div id="maincontainer">
			<div class="login-page">
				<div class="logo">
					<img id="logo" src="/static/img/logo.png" />
				</div>
				<div id="titlecontainer">
					<h1>FICHAJE</h1>
				</div>
				<form action="/login" method="post" class="login-form" id="login-form">
					<span id="piso">PISO 1</span>
					<div>
						<label for="persona">Persona</label>
						<div id="select-box" class="custom-select">
							<select name="persona" id="persona">
								{% for user in users %}
								<option value="{{ user.Id }}">{{ user.name }}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<div>
						<label for="pin">PIN</label>
						<input
							type="password"
							placeholder="Entra tu PIN bonito"
							name="pin"
							id="pin"
							required
						/>
					</div>
					<button type="submit" id="botao" data-testid="login-button">Continuar</button>
					{% if invalid %}
					<div class="invalid-login-warning">
						<p>Invalid login! Please retry.</p>
					</div>
					{% elif logged_out %}
					<div class="invalid-login-warning">
						<p>Successfully logged out.</p>
					</div>
					{% elif unauthorized %}
					<div class="invalid-login-warning">
						<p>Please login first.</p>
					</div>
					{% endif %}
				</form>
				<div id="camara">
					<div id="reader">
						<video></video>
					</div>
				</div>
			</div>
		</div>
		<div id="clocky">14/11/2023 14:35</div>
		<script src="/static/js/login.js"></script>
	</body>
</html>
