@font-face {
	font-family: NATS;
	src: url("/static/font/NATS.ttf");
}

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body,
html {
	background-color: #9a4c9b;
	margin: 0;
	padding: 0;
}

.login-page {
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.logo {
	width: 250px;
}

#maincontainer {
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#camera {
	overflow: hidden;
	padding-bottom: 2px;
	padding-left: 2px;
	margin-top: 2em;
	margin-bottom: 10em;
	/* background: url("/static/img/camara.png"); */
	background-repeat: no-repeat;
	background-size: contain;
}

#camera > video {
	border-radius: 8px;
	border: 5px solid #000;
	width: auto;
	height: 100%;
	overflow: hidden;
	transform: scaleX(-1);
}

#clocky {
	position: absolute;
	bottom: 30px;
	right: 0;
	text-align: left;
	width: 300px;
	color: #ffffffe0;
	font-family: NATS;
	font-size: 32px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.modal-content {
	z-index: 9999;
	display: flex;
	width: 200px;
	height: 300px;
	justify-content: center;
	align-items: center;
	color: #fff;
	text-align: center;
	font-family: NATS;
	font-size: 55px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 30px;
	background: #262626;
	height: 500px;
	width: 800px;
}

#modalDenegado,
#modalPermitido {
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(10px);
}

.modal-content .modaler {
	flex-direction: column;
	display: flex;
	justify-content: center;
	align-items: center;
}

#titlecontainer {
	width: 394px;
	height: 79px;
	display: flex;
	background-color: #ca76e8;
	stroke-width: 1px;
	stroke: #000;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	border-radius: 30px;
	justify-content: center;
	align-items: center;
}

#piso {
	color: #fff;
	text-align: left;
	font-family: NATS;
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-bottom: 12px;
}

#login-form {
	margin-top: 5px;
	display: flex;
	flex-direction: column;
	width: 394px;
	background-color: #ca76e8;
	stroke-width: 1px;
	stroke: #000;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	border-radius: 30px;
	justify-content: center;
	align-items: center;
	padding: 25px;
	padding-top: 0px;
}

#login-form {
	display: none;
}

#login-form label,
p,
button {
	color: #fff;
	text-align: center;
	font-family: NATS;
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

#botao {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 336px;
	height: 50px;
	color: #000;
	border-radius: 30px;
	margin: 24px;
	border: 0;
	background: url("/static/img/icons/continuar.png") #fff no-repeat right;
	background-size: 30px;
	background-position: 90% 50%;
}

#login-form select,
#login-form input {
	width: 342px;
	flex-shrink: 0;
	border-radius: 30px;
	height: 29px;
	background-color: #d9d9d9;
	filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
}
#login-form label {
	margin: 0px;
	padding: 0px;
	margin-bottom: -15px;
}

#titlecontainer > h1 {
	color: #fff;
	text-align: center;
	text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.93);
	font-family: NATS;
	font-size: 55px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin: 0;
	flex: 1;
}

#logo {
	width: 100%;
}
